:root {
  /* colors */
  --white: #fff;
  --off-white: #f0f0f0;
  --blue: #4C5E91;
  --transition-color: #31406b;
  --pink: #F79EB1;
  --dark-purple: #441c53;
  --dark-grey: #4e4433;

  /* fonts */
  --text: 'Karla', sans-serif;
  --logo: 'Author', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--text);
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

/* === sidebar === */
aside {
  grid-area: 1 / 1 / 4 / 2;
  padding: 30px;
}

.logo {
  padding-bottom: 45px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.logo .logo-title {
  font-family: var(--logo);
  font-size: 4.3rem;
  font-weight: 900;
}

.menu {
  display: grid;
  gap: 80px;
}

.menu-nav {
  padding-left: 15px;
  padding-block: 13px;
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  gap: 15px;
  transition: transform .2s;
  cursor: pointer;
}

.menu-nav:hover {
  transform: scale(1.1); 
}

.menu-nav h2 {
  font-size: 2.3rem;
  font-weight: 600;
}

.menu-nav img {
  width: 28px;
  height: 28px;
}

/*  === header === */
header {
  background: var(--white);
  color: var(--dark-purple);
  display: grid;
  gap: 25px;
  padding-inline: 70px;
  padding-block: 20px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .top-line {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
}

/* header .top-line, */
header .bottom-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.user-pic {
  border-radius: 50%;
}

.user,
.header-nav {
  justify-self: end;
}

/* header top line */
.searchbar {
  display: flex;
  align-items: center;
  gap: 13px;
  transition: transform .2s;
}

input[type="search"] {
  background: var(--off-white);
  width: 850px;
  height: 40px;
  border-radius: 20px;
  cursor:text;
  padding: 10px 25px;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--dark-grey);
}

input[type="search"]:focus {
  border: 2px solid var(--pink);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.user {
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  gap: 25px;
  align-items: center;
  transition: transform .2s;
}

.header-icon:hover {
 transform: scale(1.1); 
}

.user .user-name {
  font-size: 2.2rem;
  cursor: pointer;
}

/* header bottom line */
.user-info {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
}

.user-info p {
  font-weight: 700;
}

.user-info h1 {
  font-weight: 800;
}

.info h1 > span {
  font-size: 2.4rem;
  font-weight: 700;
}

.info span a:hover,
.info span a:hover:active {
  color: var(--pink);
}

.user .small {
  width: 50px;
  height: 50px;
}

.header-nav {
  display: flex;
  gap: 15px;
}

aside,
.header-nav button {
  background-color: var(--blue);
  color: var(--white);
}

button {
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

button:active{
  box-shadow: none;
}

button:hover {
  background: var(--transition-color);
}

/* === main content === */
main {
  background: var(--off-white);
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
  gap: 30px;
}

article {
  grid-area: 1 / 1 / 3 / 2;
}

/* === project cards === */
.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-auto-rows: 1fr;
  gap: 40px;
}

.card {
  background: var(--pink);
  height: 260px;
  border-radius: 13px;
  padding-left: 10px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.card .inner-card {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  padding: 40px 40px 0;
  border-radius: 0px 13px 13px 0px;
}

.project-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.project-txt {
  font-size: 1.7rem;
  padding-top: 5px;
}

.card-icons {
  display: flex;
  justify-content: end;
  gap: 15px;
  position: relative;
  bottom: 50px;
  padding-right: 40px;
  transition: transform .2s;
}

.card-icons img:hover {
  transform: scale(1.2); 
}

.card-icons img {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

/* === announcements card  and trending card ===  */
.announcements {
  grid-area: 1 / 2 / 2 / 3;
}

.trending {
  grid-area: 2 / 2 / 2 / 2;
}

.announcement-cards,
.trending-cards {
  border-radius: 13px;
  background-color: var(--white);
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.announcement-cards {
  padding: 20px 40px;
}

.announcement-card {
  border-bottom: 1px solid var(--pink);
  padding-block: 20px;
}
.announcement-card:last-child {
  border-bottom: 0;
}

.trending-card {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 16px;
}

.trending-cards {
  padding: 20px;
}

.trending-card .user-pic {
  width: 50px;
  height: 50px;
}

.content-heading,
.project-title,
.announcements-title,
.trending-title {
  color: var(--dark-purple);
}

.announcements-title,
.trending-title {
  font-size: 1.5rem;
  cursor: pointer;
}

.content-heading {
  padding-bottom: 20px;
}

.project-txt, 
.announcement-txt,
.trending-txt {
  color: var(--dark-grey);
}